
.root
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 95vh
  font-family: 'Open Sans', sans-serif
  &__admin_cont
    display: flex
    flex-direction: column
    align-items: center
  &__header
    display: flex
    width: 90%
    margin-top: 20px
    justify-content: center
  &__header p
    background-color: #ff8a36
    padding: 10px 30px
    border-radius: 16px
    margin: 0 10px
    cursor: pointer
    color: white
    font-size: 20px
    transition: all 0.2s linear
  &__header p:hover
    background-color: #e87117
  &__main
    width: 90%

